<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Layer/Photo/Bride/cateran/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,405},{106,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/cateran/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,540},{106,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/cateran/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,675},{106,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/cateran/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,810},{106,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/cateran/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,405},{106,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/cateran/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{340,270},{106,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/cateran/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,0},{106,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/cateran/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,135},{106,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/cateran/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,675},{83,135}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/general/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,540},{106,135}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/general/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,675},{106,135}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/general/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,810},{106,135}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/general/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,405},{106,135}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/general/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,270},{106,135}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/general/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,0},{106,135}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/general/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,135},{106,135}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/general/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,540},{106,135}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/general/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{114,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/scholar/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,135},{114,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/scholar/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,270},{114,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/scholar/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,405},{114,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/scholar/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,540},{114,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/scholar/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,675},{114,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/scholar/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,810},{114,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/scholar/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,0},{114,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/scholar/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,135},{114,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/scholar/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,810},{68,135}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/waiter/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,270},{113,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/waiter/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,405},{113,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/waiter/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,540},{113,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/waiter/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,675},{113,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/waiter/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,810},{113,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/waiter/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,270},{113,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/waiter/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,0},{113,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/waiter/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,135},{113,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
			<key>Layer/Photo/Bride/waiter/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,810},{80,135}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,135}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>bride.png</string>
			<key>realTextureFileName</key>
			<string>bride.png</string>
			<key>size</key>
			<string>{587,945}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>587</integer>
			<key>height</key>
			<integer>945</integer>
		</dict>
	</dict>
</plist>