<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dz/1.png</key>
			<dict>
				<key>width</key>
				<integer>238</integer>
				<key>height</key>
				<integer>213</integer>
				<key>originalWidth</key>
				<integer>242</integer>
				<key>originalHeight</key>
				<integer>415</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>13</real>
			</dict>
			<key>dz/l.png</key>
			<dict>
				<key>width</key>
				<integer>182</integer>
				<key>height</key>
				<integer>185</integer>
				<key>originalWidth</key>
				<integer>242</integer>
				<key>originalHeight</key>
				<integer>415</integer>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>dz/2.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>242</integer>
				<key>originalHeight</key>
				<integer>415</integer>
				<key>x</key>
				<integer>424</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-65</real>
				<key>offsetY</key>
				<real>97.5</real>
			</dict>
			<key>dz/3.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>75</integer>
				<key>originalWidth</key>
				<integer>242</integer>
				<key>originalHeight</key>
				<integer>415</integer>
				<key>x</key>
				<integer>536</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>67</real>
				<key>offsetY</key>
				<real>100</real>
			</dict>
			<key>dz/4.png</key>
			<dict>
				<key>width</key>
				<integer>64</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>242</integer>
				<key>originalHeight</key>
				<integer>415</integer>
				<key>x</key>
				<integer>636</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-109.5</real>
			</dict>
			<key>dz/5.png</key>
			<dict>
				<key>width</key>
				<integer>122</integer>
				<key>height</key>
				<integer>72</integer>
				<key>originalWidth</key>
				<integer>242</integer>
				<key>originalHeight</key>
				<integer>415</integer>
				<key>x</key>
				<integer>702</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>13</real>
				<key>offsetY</key>
				<real>-113.5</real>
			</dict>
			<key>dz/6.png</key>
			<dict>
				<key>width</key>
				<integer>90</integer>
				<key>height</key>
				<integer>79</integer>
				<key>originalWidth</key>
				<integer>242</integer>
				<key>originalHeight</key>
				<integer>415</integer>
				<key>x</key>
				<integer>826</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-76</real>
				<key>offsetY</key>
				<real>-65</real>
			</dict>
			<key>dz/7.png</key>
			<dict>
				<key>width</key>
				<integer>88</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>242</integer>
				<key>originalHeight</key>
				<integer>415</integer>
				<key>x</key>
				<integer>918</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>77</real>
				<key>offsetY</key>
				<real>-67.5</real>
			</dict>
			<key>dz/8.png</key>
			<dict>
				<key>width</key>
				<integer>119</integer>
				<key>height</key>
				<integer>86</integer>
				<key>originalWidth</key>
				<integer>242</integer>
				<key>originalHeight</key>
				<integer>415</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>215</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-164.5</real>
			</dict>
			<key>dz/9.png</key>
			<dict>
				<key>width</key>
				<integer>74</integer>
				<key>height</key>
				<integer>85</integer>
				<key>originalWidth</key>
				<integer>242</integer>
				<key>originalHeight</key>
				<integer>415</integer>
				<key>x</key>
				<integer>121</integer>
				<key>y</key>
				<integer>215</integer>
				<key>offsetX</key>
				<real>30</real>
				<key>offsetY</key>
				<real>-165</real>
			</dict>
			<key>dz/10.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>88</integer>
				<key>originalWidth</key>
				<integer>242</integer>
				<key>originalHeight</key>
				<integer>415</integer>
				<key>x</key>
				<integer>197</integer>
				<key>y</key>
				<integer>215</integer>
				<key>offsetX</key>
				<real>11</real>
				<key>offsetY</key>
				<real>-108.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>cateran0.png</string>
			<key>realTextureFileName</key>
			<string>cateran0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>