<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Sprite/Hero/cateran.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,502},{148,209}}</string>
				<key>offset</key>
				<string>{0,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,251}</string>
			</dict>
			<key>Sprite/Hero/cateran_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,711},{148,209}}</string>
				<key>offset</key>
				<string>{0,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,251}</string>
			</dict>
			<key>Sprite/Hero/general.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,0},{147,199}}</string>
				<key>offset</key>
				<string>{-1,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,251}</string>
			</dict>
			<key>Sprite/Hero/general_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,199},{147,199}}</string>
				<key>offset</key>
				<string>{-1,-26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,251}</string>
			</dict>
			<key>Sprite/Hero/scholar.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{148,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,251}</string>
			</dict>
			<key>Sprite/Hero/scholar_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,251},{148,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,251}</string>
			</dict>
			<key>Sprite/Hero/waiter.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,502},{147,211}}</string>
				<key>offset</key>
				<string>{0,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,251}</string>
			</dict>
			<key>Sprite/Hero/waiter_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,713},{147,211}}</string>
				<key>offset</key>
				<string>{0,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,251}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hero.png</string>
			<key>realTextureFileName</key>
			<string>hero.png</string>
			<key>size</key>
			<string>{295,924}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>295</integer>
			<key>height</key>
			<integer>924</integer>
		</dict>
	</dict>
</plist>